includes:
    - phpstan-baseline.neon

parameters:
    level: 5
    paths:
        - src
        - config
        - database
    tmpDir: build/phpstan
    scanDirectories:
        - vendor/orchestra/testbench-core/laravel
